body {
  --bg: #000;
  background-color: var(--bg);
  text-align: center;
}
h1 {
  font-family: "Monaco", "Courier New", monospace;
  color: #a3ffe7;
}
h2 {
  font-family: "Monaco", "Courier New", monospace;
  color: #a3ffe7;
}
h3, h4, h5 {
  font-family: "Monaco", "Courier New", monospace;
  color: #a3ffe7;
}
div {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.bottom-div {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}
.chatlog-div {
  overflow-wrap: break-word;
  height: 75%;
}
a {
  font-family: "Lucida Console", "Courier New", monospace;
  color: #39bd9a
}
a:visited {
  color: #35deb1;
}
.p1 {
  font-family: "Lucida Console", "Courier New", monospace;
  color: #00ffbb
}
.p2 {
  font-family: "Lucida Console", "Courier New", monospace;
  color: #00ffbb
}
.big-btn {
  vertical-align: middle;
  height: 256px;
  width: 256px;
}