body {
  --bg: #fff;
  background-color: var(--bg);
  background: url('../images/boykisser.png');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  text-align: center;
}
h1, h2, h3, h4, h5 {
  font-family: "Monaco", "Courier New", monospace;
  color: #000;
}
div {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.bottom-div {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}
.chatlog-div {
  overflow-wrap: break-word;
  height: 75%;
}
a {
  font-family: "Lucida Console", "Courier New", monospace;
  color: #333
}

input {
  accent-color: #fff;
}

a:visited {
  color: #777;
}
.p1, .p2 {
  font-family: "Lucida Console", "Courier New", monospace;
  color: #000
}
.big-btn {
  vertical-align: middle;
  height: 256px;
  width: 256px;
}