body {
  --bg: #fff;
  background-color: var(--bg);
  text-align: center;
}
h1, h2, h3, h4, h5{
  font-family: "Monaco", "Courier New", monospace;
  color: #eee;
}
div {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.bottom-div {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}
.chatlog-div {
  overflow-wrap: break-word;
  height: 75%;
}
a {
  font-family: "Lucida Console", "Courier New", monospace;
  color: #eee
}
a:visited {
  color: #eee;
}
.p1, .p2 {
  font-family: "Lucida Console", "Courier New", monospace;
  color: #eee
}
.big-btn {
  vertical-align: middle;
  height: 256px;
  width: 256px;
}