body {
  background-color: #533;
  text-align: center;
  vertical-align: middle;
  --bg: #c77;
  color: var(--bg);
  font-family: monospace;
  font-size: 16px;
}

a {
  color: #f66;
}

a:visited {
  color: #c5a;
}

div {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.bottom-div {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

.chatlog-div {
  overflow-wrap: break-word;
  height: 75%;
}

.big-btn {
  vertical-align: middle;
  height: 256px;
  width: 256px;
}